<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SereneMoments</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>DancingScript-Bold.ttf</string>
		<string>DancingScript-Medium.ttf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>DancingScript-SemiBold.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>dancingScript.ttf</string>
		<string>inter.ttf</string>
		<string>Lobster-Regular.ttf</string>
		<string>PinyonScript-Regular.ttf</string>
		<string>SedgwickAve-Regular.ttf</string>
		<string>BodoniModa-Italic-VariableFont_opsz,wght.ttf</string>
		<string>BodoniModa-VariableFont_opsz,wght.ttf</string>
		<string>BodoniModa_18pt-Black.ttf</string>
		<string>BodoniModa_18pt-BlackItalic.ttf</string>
		<string>BodoniModa_18pt-Bold.ttf</string>
		<string>BodoniModa_18pt-BoldItalic.ttf</string>
		<string>BodoniModa_18pt-ExtraBold.ttf</string>
		<string>BodoniModa_18pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_18pt-Italic.ttf</string>
		<string>BodoniModa_18pt-Medium.ttf</string>
		<string>BodoniModa_18pt-MediumItalic.ttf</string>
		<string>BodoniModa_18pt-Regular.ttf</string>
		<string>BodoniModa_18pt-SemiBold.ttf</string>
		<string>BodoniModa_18pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_28pt-Black.ttf</string>
		<string>BodoniModa_28pt-BlackItalic.ttf</string>
		<string>BodoniModa_28pt-Bold.ttf</string>
		<string>BodoniModa_28pt-BoldItalic.ttf</string>
		<string>BodoniModa_28pt-ExtraBold.ttf</string>
		<string>BodoniModa_28pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_28pt-Italic.ttf</string>
		<string>BodoniModa_28pt-Medium.ttf</string>
		<string>BodoniModa_28pt-MediumItalic.ttf</string>
		<string>BodoniModa_28pt-Regular.ttf</string>
		<string>BodoniModa_28pt-SemiBold.ttf</string>
		<string>BodoniModa_28pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_48pt-Black.ttf</string>
		<string>BodoniModa_48pt-BlackItalic.ttf</string>
		<string>BodoniModa_48pt-Bold.ttf</string>
		<string>BodoniModa_48pt-BoldItalic.ttf</string>
		<string>BodoniModa_48pt-ExtraBold.ttf</string>
		<string>BodoniModa_48pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_48pt-Italic.ttf</string>
		<string>BodoniModa_48pt-Medium.ttf</string>
		<string>BodoniModa_48pt-MediumItalic.ttf</string>
		<string>BodoniModa_48pt-Regular.ttf</string>
		<string>BodoniModa_48pt-SemiBold.ttf</string>
		<string>BodoniModa_48pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_72pt-Black.ttf</string>
		<string>BodoniModa_72pt-BlackItalic.ttf</string>
		<string>BodoniModa_72pt-Bold.ttf</string>
		<string>BodoniModa_72pt-BoldItalic.ttf</string>
		<string>BodoniModa_72pt-ExtraBold.ttf</string>
		<string>BodoniModa_72pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_72pt-Italic.ttf</string>
		<string>BodoniModa_72pt-Medium.ttf</string>
		<string>BodoniModa_72pt-MediumItalic.ttf</string>
		<string>BodoniModa_72pt-Regular.ttf</string>
		<string>BodoniModa_72pt-SemiBold.ttf</string>
		<string>BodoniModa_72pt-SemiBoldItalic.ttf</string>
		<string>BodoniModa_9pt-Black.ttf</string>
		<string>BodoniModa_9pt-BlackItalic.ttf</string>
		<string>BodoniModa_9pt-Bold.ttf</string>
		<string>BodoniModa_9pt-BoldItalic.ttf</string>
		<string>BodoniModa_9pt-ExtraBold.ttf</string>
		<string>BodoniModa_9pt-ExtraBoldItalic.ttf</string>
		<string>BodoniModa_9pt-Italic.ttf</string>
		<string>BodoniModa_9pt-Medium.ttf</string>
		<string>BodoniModa_9pt-MediumItalic.ttf</string>
		<string>BodoniModa_9pt-Regular.ttf</string>
		<string>BodoniModa_9pt-SemiBold.ttf</string>
		<string>BodoniModa_9pt-SemiBoldItalic.ttf</string>
		<string>ComforterBrush-Regular.ttf</string>
		<string>Fuggles-Regular.ttf</string>
		<string>Hurricane-Regular.ttf</string>
		<string>OoohBaby-Regular.ttf</string>
		<string>Parisienne-Regular.ttf</string>
		<string>Playball-Regular.ttf</string>
		<string>Sacramento-Regular.ttf</string>
		<string>Yellowtail-Regular.ttf</string>
	</array>
</dict>
</plist>
